.hero .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heroright {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
}

.heroleft {
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.hero img {
    width: 10vw;
}

.hero h2 {
    color: var(--lightText);
    font-size: 2vw;
}

.hero p {
    font-size: 1.2vw;
    color: grey;
    margin-bottom: 10px;
}
.gif2{
    width: auto;
    height: 10vh ;
}
