.main{
    width: 100%;
    background: rgb(225, 225, 225);
}
.card {
    display: flex;
    justify-content: space-around;
}
.gif{
    position:relative;
bottom: 0;
width: auto;
height: 20rem;
left: 23rem;
z-index: 2;
}