footer {
    /* height: 200px; */
    background: var(--footerBackground);
    background: white;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.1);
}

footer .wrapper {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    gap: 3rem;
    flex-wrap: wrap;
}

footer .wrapper div {
    width: calc(100% / 3);
}

.footerLine {
    width: 100%;
    height: 1px;
    background: #aeafb0;
}

.copy {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.copy span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerLogo {
    width: 250px;
    height: auto;
}

#footerLogo img {
    height: 100%;
    width: 100%;
}

.footerLinks {}

footer p {
    color: var(--lightText);
    font-size: 16px;
}

.footerLinks ul {
    margin-top: 10px;
}

.footerLinks ul li {
    list-style: none;
    color: var(--text);
    font-size: 14px;
    position: relative;
    transform: translate(15px);
}

.footerLinks ul a {
    text-decoration: none;
}

.footerLinks ul li i {
    font-size: 8px;
    position: absolute;
    left: -8px;
    top: 50%;
    margin-bottom: 10px;
    transform: translate(-50%, -50%);
}

.footerLinks ul a:hover li {

    color: var(--googleBlue);
}


.socialIconsContainer {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.socialIconsContainer i {
    font-size: 14px;
    color: var(--lightText);
}

.socialIconsContainer i:hover {
    color: var(--googleBlue);
}